.home {
  margin-left: 6rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 81% auto;
}
.pizzas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.pizza {
  display: grid;
  grid-template-columns: 2fr 1fr;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 7%;
  padding-left: 4%;
  padding-right: 0%;
  padding-top: 4%;
  height: auto;
  padding-bottom: 4%;
}
.pizza img {
  /* width: 102px; */
  height: 11rem;
  /* background-size: cover; */
  /* background-position: 50%; */
  /* position: relative; */
}
.pizza-name {
  color: #24626b;
}
.pizza-description {
  padding-top: 3rem;
  font-size: 15px;
}
.pizza-image {
  background-size: cover;
  width: 13rem;
  background-position: 50%;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  /* background-color: #282c34; */
  /* background: #ffbe76; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin-left: 3rem;
}

.modal-image {
  height: 20rem;
  width: auto;
}
.order-pizza-form {
  display: grid;
  padding-top: 1rem;
}

.qty-container {
  background: rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 60% 1fr 1fr 1fr;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  margin-bottom: 1rem;
}
.select-container {
  background: rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 60% auto;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-bottom: 1rem;
}
.select-container p {
  /* width: 60%; */
  margin-top: auto;
  margin-bottom: auto;
}

.actions {
  background: #2e7c87;
  padding-top: 1rem;
  padding-left: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 1.35rem;
  color: white;
  cursor: pointer;
  padding-bottom: 1rem;
}

.orders {
  box-shadow: -2px 0 4px 0 rgb(0 0 0 / 12%);
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.order {
  display: grid;
  border-radius: 8px;
  margin-bottom: 7%;
  padding-left: 4%;
  padding-right: 0%;
  padding-top: 4%;

  grid-template-columns: 10% 80% auto;
}
.order:hover {
  background: #f5f5f5;
}
.checkout {
  margin: auto;
  width: 40%;
  /* color: #24626b; */
}

.user-detail {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.checkout-header {
  font-size: 36px;
  margin: 4px 0 0;
}

.checkout-buttons {
  cursor: auto;
}

.select-container input {
  border-top: none;
  border-left: none;
  border-right: none;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  height: 2.25rem;
  transition: all 0.25s ease;
  width: 100%;
  /* border-bottom: 2px solid #2e7c87; */
  border-radius: 4px;
}

input:focus {
  border-bottom: 2px solid #2e7c87;
  outline: none;
}

.order-summary {
  padding-top: 1rem;
}
.confirm-details {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 21px;
}
.confirm-order {
  text-align: center;

  background: #2e7c87;

  margin: auto;
  margin-bottom: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 0.1rem;
  color: white;
}

.order label {
  margin-left: 1rem;
}
