.home {
  margin-left: 6rem;
  margin-top: 1rem;
  display: flex;
}
.pizzas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  grid-column-gap: 2rem;
}
.pizza {
  display: grid;
  grid-template-columns: 2fr 1fr;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 7%;
  padding-left: 4%;
  padding-right: 0%;
  padding-top: 4%;
  height: auto;
  padding-bottom: 4%;
}
.pizza img {
  /* width: 102px; */
  height: 11rem;
  /* background-size: cover; */
  /* background-position: 50%; */
  /* position: relative; */
}
.pizza-name {
  color: #24626b;
}
.pizza-description {
  padding-top: 3rem;
  font-size: 15px;
}
.pizza-image {
  background-size: cover;
  width: 13rem;
  background-position: 50%;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  /* background-color: #282c34; */
  /* background: #ffbe76; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin-left: 3rem;
}

.modal-image {
  height: 20rem;
  width: auto;
}
.order-pizza-form {
  display: grid;
  padding-top: 1rem;
}

.qty-container {
  background: rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 60% 1fr 1fr 1fr;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  margin-bottom: 1rem;
}
.select-container {
  background: rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 60% auto;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-bottom: 1rem;
}
.select-container p {
  /* width: 60%; */
  margin-top: auto;
  margin-bottom: auto;
}

.actions {
  background: #2e7c87;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  padding-top: 1rem;
  padding-left: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 1.35rem;
  color: white;
      cursor: pointer;
}
